myvenv/
.env
.vscode/
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

telegrambot/__pycache__/*
hashgpt_app/__pycache__/*
hashgpt_app/__pycache__/*